$brown: #313131;

body{
   color: #FFFFFF;
}

img{
   max-width: 100%;
}

ul{
   padding-left: 0;
}

// .container{
//    background: radial-gradient(80.56% 80.56% at 50% 19.44%, #2F2F2F 0%, #141415 100%), #313131;
// }

.header{
   & a{
      color: #FFFFFF;
      text-decoration: none;
   }
   .apple-logo{
      background-color: $brown;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      & img{
         display: block;
         margin-left: auto;
         margin-right: auto;
         padding-top: 25px;
         padding-bottom: 25px;
      }
   }
   &__content{
      background: radial-gradient(80.56% 80.56% at 50% 19.44%, #2F2F2F 0%, #141415 100%), #313131;
      padding-top: 20px;
      padding-bottom: 20px;
   }
   & .row{
      margin-left: 0;
      margin-right: 0;
   }
   &__title{
      text-align: left;
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 0;
      // padding-left: 100px;
      cursor: default;
      & h4{
         padding-left: 40px;
      }
   }
   &__navigate{
      & li{
         align-self: center;
         list-style-type: none;
      }
      display: inline-flex;
      justify-content: space-evenly;
      margin-bottom: 0;
      // display: inline-block;
      // padding-left: 16px;
      font-size: 11px;
      text-align: center;
   }
   &__buy{
      display: flex;
      justify-content: space-evenly;
      align-self: center;
      .btn-buy{
         background: linear-gradient(180deg, #51ACFF 0%, #1772C6 100%), #1890FF;
         border-radius: 16px;
         font-weight: 500;
         font-size: 11px;
         max-width: 80px;
         line-height: 27px;
         padding: 0 18px; 
         text-align: center;
         &:nth-child(2){
         max-width: 52px;
         }
      }
   }

}

.line{
   margin-top: 20px;
   height: 3px;
   background: radial-gradient(80.56% 80.56% at 50% 19.44%, #2F2F2F 0%, #141415 100%), #313131;
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
}

.content{
   background: radial-gradient(80.56% 80.56% at 50% 19.44%, #2F2F2F 0%, #141415 100%), #313131;
   padding-bottom: 50px;
   &__title{
      text-align: center;
      &_padding{
         padding: 50px 0;
      }
   }
   & h1{
      display: inline-block;
      text-align: center;
      max-width: 50%;
      font-weight: bold;
      font-size: 48px;
      line-height: 58px;
      cursor: default;
   }
   &__link{
      text-align: center;
      &_padding-bottom{
         padding-bottom: 40px;
      }
      & a{
         display: inline-block;
         font-weight: 500;
         font-size: 17px;
         line-height: 20px;
         color: #51ACFF;
         text-decoration: none;
      }
      & a:nth-child(2){
         margin-left: 25px;
      }
   }
   .mac-img{
      display: flex;
      justify-content: center;
      &_margin-bottom{
         margin-bottom: 55px;
      }
   }
}

.row{
   margin-left: 0px;
   margin-right: 0px;
}

.back-color{
   background: radial-gradient(80.56% 80.56% at 50% 19.44%, #2F2F2F 0%, #141415 100%), #313131;
}

.apple-properties{
   background: radial-gradient(80.56% 80.56% at 50% 19.44%, #2F2F2F 0%, #141415 100%), #313131;
   flex-direction: column;
   align-content: center;
   &_padding-bottom{
      padding-bottom: 30px;
   }
   &__item{
      // text-align: center;
      cursor: default;
      position: relative;
      margin-bottom: 4%;
      list-style-type: none;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #FFFFFF;
      // & .vertical-line{
      //    background: linear-gradient(180deg, #FDA472 0%, #F7B78F 100%), #EDBB99;
      //    width: 4px;
      //    height: 58px;
      //    position: absolute;
      //    top: 0;
      //    left: 0;
      // }
      // &:last-child{
      //    margin-bottom: 0px;
      // }
      &::before{
         content: '';
         display: inline-block;
         background: linear-gradient(180deg, #FDA472 0%, #F7B78F 100%), #EDBB99;
         width: 4px;
         height: 58px;
         position: absolute;
         top: 0;
         left: 0;
      }
      & span{
         display: inline-block;
         text-align: left;
         padding-left: 25px;
      }
      &:nth-child(1){
         max-width: 33%;
      }
      &:nth-child(2){
         max-width: 34%;
      }
      &:nth-child(3){
         max-width: 65%;
      }
      &:nth-child(4){
         max-width: 36%;
      }
      &:nth-child(3) span{
         padding-top: 3%;
         padding-bottom: 5%;
      }
   }
}

.improvement {
   justify-content: space-evenly;
   &_padding{
      padding-top: 90px;
      padding-bottom: 110px;
   }
   &__item {
      cursor: default;
      &::after{
         content: '';
         display: inline-block;
         background: linear-gradient(180deg, #FDA472 0%, #F7B78F 100%), #EDBB99;
         width: 47%;
         height: 4px;
         position: absolute;
         bottom: -20%;
      }
   }

   &__up-to {
      font-size: 10px;
      line-height: 12px;
   }

   &__numbers {
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
   }

   &__properties {
      font-size: 10px;
      line-height: 20px;
   }
}

.footer {
   background-color: $brown;
   border-bottom-left-radius: 40px;
   border-bottom-right-radius: 40px;
   padding-top: 50px;
   padding-bottom: 50px;
   & .social-networks {
      justify-content: center;
      padding-bottom: 30px;
         &__item {
            padding-left: 70px;
            &:first-child{
               padding: 0;
            }
         }
   }
   & .adress{
      & p{
         margin-bottom: 10px;
      }
   }
   &__text{
      cursor: default;
      text-align: center;
      color: #7D7D7D;
      font-size: 12px;
      line-height: 18px;
      :last-child{
         margin-bottom: 30px;
      }
      & p{
         margin-bottom: 0;
      }
      & .unsubscribe{
         color: #51ACFF;
         text-decoration: none;
      }
   }
   &__text-width {
      max-width: 481px;
      display: inline-block;
   }

   & .navigate{
      :first-child{
         border: none;
      }
      & li{
         align-self: center;
         list-style-type: none;
         position: relative;
         border-left:1px solid #7D7D7D;
         padding: 0 6px 0px 4px;
         // ::after{
         //    content: '';
         //    background: #7D7D7D;
         //    display: inline-block;
         //    width: 1px;
         //    height: 12px;
         //    position: absolute;
         //    bottom: 17%;
         //    right: 0;
         // }
         :first-child{
            padding-left: 0;
         }
         & a{
            color: #FFFFFF;
            text-decoration: none;
         }
      }
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      justify-content: center;
   }
}

// Мудиа запросы 

@media all and (max-width:1200px){
   .content{
      & h1{
         max-width: 58%;
      }
   }
}

@media all and (max-width:992px){
   .content{
      & h1{
         max-width: 88%;
      }
   }
   .apple-properties__item{
      &:nth-child(1){
         max-width: 41%;
      }
      &:nth-child(2){
         max-width: 51%;
      }
      &:nth-child(3){
         max-width: 65%;
      }
      &:nth-child(3) span{
         max-width: 100%;
      }
      &:nth-child(4){
         max-width: 47%;
      }
   }
}

@media all and (max-width:768px){
   .header__title{
      & h4{
         padding-left: 0px;
      }
   }
   .header__navigate {
      display: inline-block;
      text-align: left;
   }

   .header__buy {
      flex-direction: column;
      & .btn-buy{
         line-height: 20px;
         &:nth-child(1){
            margin-bottom: 5px;
         }
         &:nth-child(2){
            max-width: 80px;
         }
      }
   }
}

@media all and (max-width:576px){
   .btn-buy{
      padding: 0px;
   }
   .apple-properties {
      text-align: left;
      padding-left: 10px;
      &__item{
         &:nth-child(1){
            max-width: 100%;
         }
         &:nth-child(2){
            max-width: 100%;
         }
         &:nth-child(3){
            max-width: 100%;
         }
         &:nth-child(3) span{
            max-width: 100%;
         }
         &:nth-child(4){
            max-width: 100%;
         }
      }
   }  
}

@media all and (max-width:420px){
   .header__title {
      align-self: center;
   }

   .header__buy .btn-buy {
      padding: 0px;
   }

   .content h1 {
      max-width: 100%;
      font-size: 35px;
   }
}

@media all and (max-width:320px){
   .apple-properties {
      &__item{
         font-size: 19px;
         padding-bottom: 10px;
         & span {
            padding-left: 5px;
         }
         &:nth-child(3) span{
            padding-bottom: 7%;
         }
      }
   }  

   .improvement {
      flex-direction: column;
      text-align: center;
      &__item{
         width: 100%;
         margin-bottom: 30px;
         &::after{
            left: 27%;
         }
      }
      & .col-2 {
         max-width: 100%;
      }
      &_padding {
         padding-top: 30px;
         padding-bottom: 30px;
      }
}
}